body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}



.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button:hover {
  background-color: #459cd4;
  color: #ffffff;

}

.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.Mui-selected.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button.Mui-selected{
  background-color: #459cd4;
  color: #ffffff;
}

#formControl1{
  position: absolute;
  left: 10%;
  top: 10%;
  border: 1px solid lightgrey;
}

.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button{
  padding-left: 30%;
  padding-top: 9px;
  padding-bottom: 9px;

}


#mutiple-name-label {
  color:black;
  font-weight:1000;
  padding-left:45px;
  font-family: Montserrat;
}

.MuiInputBase-root {
  margin: inherit;
  padding: 6px 6px 9px;
}
#MenuItem {
  font-weight:1000;
  font-family: Montserrat;


}

/* MuiList-root MuiMenu-list MuiList-padding */
